<div *ngIf="seance">
  <table class="table">
    <tbody>
    <tr>
      <td>{{seance.movie.title}}</td>
      <td>{{seance.formattedStartTime()}}</td>
      <td>{{seance.price}} руб.</td>
    </tr>
    </tbody>
  </table>

  <div>
    Экран
  </div>
  <table align="center">
    <tbody>
    <tr *ngFor="let row of _.range(1, seance.hall.rowCnt+1)">
      <td>
        {{row}} ряд
      </td>
      <td *ngFor="let col of _.range(1, seance.hall.colCnt+1)">
        <button (click)="click(row, col)" [ngStyle]="{'background-color': getColor(row,col)}">
          {{col}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div style="text-align: left">
    <p>
      <button [ngStyle]="{'background-color': vipColor}">&nbsp;&nbsp;</button>
      <span>&nbsp;VIP места</span>
    </p>
    <p>
      <button [ngStyle]="{'background-color': occupiedColor}">&nbsp;&nbsp;</button>
      <span>&nbsp;Занятые места</span>
    </p>
    <p>
      <button [ngStyle]="{'background-color': selectedColor}">&nbsp;&nbsp;</button>
      <span>&nbsp;Выбранные вами места</span>
    </p>
    <p>
      <span>{{showSelected()}}</span>
    </p>
    <div *ngIf="selected.length > 0">
      <p>
        <span>Стоимость: {{price}}</span>
      </p>
      <p>
        <button (click)="buy()">Купить</button>
      </p>
    </div>
  </div>

</div>
