<nav class="navbar navbar-expand-md nav nav-tabs">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="active('ongoing')">
        <a class="nav-link" routerLink="/movies" [queryParams]="{ filter: 'ongoing' }">Идущие в показе</a>
      </li>
      <li class="nav-item" [ngClass]="active('comingSoon')">
        <a class="nav-link" routerLink="/movies" [queryParams]="{ filter: 'comingSoon'}">Предстоящие</a>
      </li>
      <ng-container *ngIf=" currentUser | isAdmin">
        <li class="nav-item" [ngClass]="active('all')">
          <a class="nav-link" routerLink="/movies" [queryParams]="{ filter: 'all'}">Все фильмы</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>

<div *ngIf="currentUser | isAdmin">
  <a routerLink="/movies/create">Добавить новый фильм</a>
</div>
<p></p>
<table class="table">
  <tbody>
  <tr *ngFor="let movie of movies">
    <td style="text-align: left">{{movie.title}}</td>
    <td>{{movie.durationMinutes}} минут</td>
    <td>
      <a routerLink="/seances" [queryParams]="{ movieId: movie.id }">Сеансы</a>
    </td>
    <ng-container *ngIf="currentUser | isAdmin">
      <td>
        <button (click)="delete(movie.id)">Удалить</button>
      </td>
      <td>
        <a routerLink="/movies/edit/{{movie.id}}">Редактировать</a>
      </td>
    </ng-container>
  </tr>
  </tbody>
</table>
