<div *ngIf="currentUser | isAdmin">
  <a routerLink="/movies/create">Добавить новый фильм</a>
</div>
<p></p>
<table class="table">
  <tbody>
  <tr *ngFor="let movie of movies">
    <td style="text-align: left">{{movie.title}}</td>
    <td>{{movie.durationMinutes}} минут</td>
    <td>
      <a routerLink="/seances" [queryParams]="{ movieId: movie.id }">Сеансы</a>
    </td>
    <ng-container *ngIf="currentUser | isAdmin">
      <td>
        <button (click)="delete(movie.id)">Удалить</button>
      </td>
      <td>
        <a routerLink="/movies/edit/{{movie.id}}">Редактировать</a>
      </td>
    </ng-container>
  </tr>
  </tbody>
</table>
