<h3>{{componentTitle}}</h3>
<form (ngSubmit)="f.form.valid && action()" #f="ngForm" novalidate>
  <div class="row">

    <div class="col-md-4 mb-3">
      <label for="movie">Фильм</label>
      <select [(ngModel)]="movieId" class="form-control" id="movie" name="movieId" #mov="ngModel" required>
        <option *ngFor="let movie of movies" [ngValue]="movie.id">{{movie.title}}</option>
      </select>
      <div *ngIf="f.submitted && !mov.valid" class="help-block">
        Выберите фильм
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="startTime">Время начала</label>
      <input id="startTime" name="startTime" class="form-control" #time="ngModel" required
             [(ngModel)]="startTime"
             [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
      <owl-date-time [firstDayOfWeek]=1 #dt></owl-date-time>
      <div *ngIf="f.submitted && !time.valid" class="help-block">
        Введите время начала
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="hall">Зал</label>
      <select [(ngModel)]="hallId" class="form-control" id="hall" name="hall" #h="ngModel" required>
        <option *ngFor="let hall of halls" [ngValue]="hall.id">{{hall.name}}</option>
      </select>
      <div *ngIf="f.submitted && !h.valid" class="help-block">
        Выберите зал
      </div>
    </div>

  </div>
  <button type="submit">{{actionTitle}}</button>
  <button (click)="cancel()">Отмена</button>
</form>
