<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies">Фильмы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/seances">Сеансы</a>
      </li>
      <li class="nav-item" *ngIf="currentUser | isAdmin">
        <a class="nav-link" routerLink="/users">Пользователи</a>
      </li>
    </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul *ngIf="!currentUser" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Вход</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Регистрация</a>
      </li>
    </ul>

    <ul *ngIf="currentUser" class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">{{currentUser.username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()">Выход</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <div class="starter-template">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="messageService.message">
    <div [ngClass]="messageService.alertType" class="alert alert-dismissible fade show alert-fixed" role="alert">
      <span>{{messageService.message}}</span>
      <button class="close" (click)="messageService.clear()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

</main>
