body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  padding-top: 5rem;
  text-align: center;
}

.row {
  margin-bottom: 1rem;
}

.alert-fixed {
  position:fixed;
  bottom: 0;
  left: 33%;
  width: 33%;
  z-index:9999;
  border-radius:0;
  vertical-align: center;
}
