<div *ngIf="currentUser | isAdmin">
  <a routerLink="/seances/create">Добавить новый сеанс</a>
</div>
<p></p>
<table class="table">
  <tbody>
  <tr *ngFor="let seance of seances">
    <td style="text-align: left">{{seance.movie.title}}</td>
    <td>{{seance.formattedStartTime()}}</td>
    <td>{{seance.price}} руб.</td>
    <td><a routerLink="/seances/buy/{{seance.id}}">Купить билеты</a></td>
    <ng-container *ngIf="currentUser | isAdmin">
      <td>
        <a routerLink="/seances/{{seance.id}}">Статистика сеанса</a>
      </td>
      <td>
        <button (click)="delete(seance.id)">Удалить</button>
      </td>
      <td>
        <a routerLink="/seances/edit/{{seance.id}}">Редактировать</a>
      </td>
    </ng-container>
  </tr>
  </tbody>
</table>
